body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("/static/imgs/healthy-background.webp");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select, button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    font-size: 1rem;
}


button {
    margin-top: 25px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}


.button-volver {
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.button-volver:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

